<div class="panel panel-primary">
    <div class="panel-heading">
        <i>{{ nn_name }} </i> topology:
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body cf"><h4>
                        Input layer

                    </h4>
                    </div>
                    <div class="panel-footer back-footer-blue min3">
                        <b> {{ input_layer }}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <h4>
                            Output layer

                        </h4>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        <b>{{output_layer }}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <h4>
                            Hidden layers

                        </h4>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        <b>{{ hidden_layers }}</b>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary text-center no-boder bg-color-blue">
                    <div class="panel-body">
                        <h4>
                            Symmetry
                        </h4>
                    </div>
                    <div class="panel-footer back-footer-blue">
                        <b>{{ symmetry }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>