<div class="panel panel-primary">
    <div class="panel-heading">
        New network training
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <i>{{ nn_name }}</i>
        </div>
        has been successfully trained and it has been added to the available networks. <br>
        You can <a href="evaluate" class="btn btn-primary"> evaluate </a> it or <a href="classify"
                                                                                   class="btn btn-primary">
        classify </a> a new sample with it.

    </div>
</div>