<div class="panel panel-primary ">
    <div class="panel-heading">
        Upload a .dat file, choose the neural network and classify
    </div>
    <div class="panel-body">

        <form action="http://localhost:5000/sample_classifier" method="POST" enctype="multipart/form-data">
            <div>
                Choose an existing neural network.
                <select class="form-control" name="nn_name">
                    {{ select }}
                </select>
            </div>
            <br><br>
            <div>
                Choose a <i>.dat</i> file to classify.
                <input type="file" name="file" required/><br>
            </div>
            <input class="btn btn-default" type="submit"/><br></form>
    </div>
</div>